---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/*-- scss:defaults --*/
// Include theme-specific fonts
@import url("https://fonts.googleapis.com/css?family=Lexend");
@font-face {
  font-family: 'Doulos SIL';
  src: url('/fonts/DoulosSIL-Regular.woff2') format('woff2');
}
@import url("https://fonts.googleapis.com/css2?family=Doulos+SIL&display=swap");

// fonts
$mainFont: "Lexend";
$headingFont: "Lexend";
$font-family-sans-serif: "Lexend";
$presentation-heading-font: "Lexend";

.ipa {
  font-family: 'Doulos SIL', serif;
}

/**************/
/* THEME VARS */
/**************/

:root, [data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #444444;
  --heading-color: #333333;
  --accent-blue: #004f70;
  --gray: #666666;
  --light-gray: #eeeeee;
  --selection-bg: #ADD8E6;
  --table-header-bg: #f5f5f5;
}

[data-theme="medium"] {
  --bg-color: #eeeef0;
  --text-color: #444444;
  --heading-color: #333333;
  --accent-blue: #004f70;
  --gray: #666666;
  --light-gray: #d8d8da;
  --selection-bg: #ADD8E6;
  --table-header-bg: #e0e0e2;
}

[data-theme="dark"] {
  --bg-color: #191919;
  --text-color: #edebeb;
  --heading-color: #f5f5f5;
  --accent-blue: #00affa;
  --gray: #aaaaaa;
  --light-gray: #333333;
  --selection-bg: #004f70;
  --table-header-bg: #2a2a2a;
}

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: var(--bg-color);
  font: 18px/1.4 $mainFont;
  color: var(--text-color);
}

.container {
  margin: 0 auto;
  max-width: 840px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-sans-serif;
  color: var(--heading-color);
  font-weight: bold;
  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: var(--gray);
}

p {
  margin: 15px 0;
}

a {
  color: var(--accent-blue);
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: var(--accent-blue);
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: var(--gray);
}

// Specify the color of the selection
::-moz-selection {
  color: var(--heading-color);
  background: var(--selection-bg);
}
::selection {
  color: var(--heading-color);
  background: var(--selection-bg);
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid var(--light-gray);

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: var(--text-color);
  cursor: pointer;
  font-family: $font-family-sans-serif;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: var(--gray);
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px;
  font-family: $font-family-sans-serif;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: var(--text-color);
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: var(--accent-blue);
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid var(--light-gray);
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid var(--gray);
    padding: 0.1em 1em;
    color: var(--gray);
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
  background-color: var(--light-gray);
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

/* Table Styles */
table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0em 0.5em;
}

th, td {
    padding: 8px 8px;
    text-align: left;
}

th {
    background-color: var(--table-header-bg);
    font-weight: bold;
}

/* Theme Toggle Button */
.theme-toggle {
  background: none;
  border: 1px solid var(--gray);
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  color: var(--text-color);
  font-family: $font-family-sans-serif;
  font-size: 14px;
  
  &:hover {
    border-color: var(--accent-blue);
    color: var(--accent-blue);
  }
}
